body {
  background: #F2F9FF;
  color: 
  
}

img#logo{
    position: absolute;
    width: 59px;
    height: 60px;
    left: 100px;
    top: 14px;

    background: url(logo.png)
}

h2{
    position: absolute;
    left:200px;
    padding-top: 20px;
    vertical-align: middle;
    display: block;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 35px;
    color: #054C92;
}
a#username{
    position: absolute;
    width: 110px;
    height: 16px;
    left: 1180px;
    top: 60px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    display: flex;
    align-items: center;

    color: #000000;

    opacity: 1;
}
a#logout{
    position: absolute;
    width: 47px;
    height: 19px;
    left: 1300px;
    top: 58px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
/* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #054C92;

    
}
h3
{
  
  margin-left: 50px;
  margin-top: 10px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
 /* identical to box height */
  color: #484848;

}
div#Div1 { 
    position: absolute;
    background-color: white;
    background-image: url('headerBG.png');
    background-size: 100% 100%;
    border: 1px ;
    width: 1530px;    
    height: 88px;
    left: 0px;
    top: 0px;
}

div#Div2 { 
    position: absolute;
    background-color: white;
    border: 1px;
    border-radius: 8px;
    width: 1032px;
    height: 650px;    
    left: 225px;
    top: 104px;
    padding: 1rem;
} 

.content{
    margin: 8%; 
    margin-left: 50px;
    margin-top: 45px;
    width: 900px;
    height: 140px;
    padding: 0rem 1rem 4rem 1rem;
    background-color: white;
    display: block; 
    

    border: 2px solid black !important;
    box-sizing: border-box;
    box-shadow:
    border-radius: 4px;

}

.toggleClass{
     margin:  
    margin-left: 20px;
    margin-right: 
    margin-top:
    width: 
    height: 150px;
    padding:
    background-color: blue;
    display:  
    

    border: 1px solid rgba(235, 235, 235, 0.8);
    box-sizing: border-box;
    box-shadow:
    border-radius: 4px;
}
div#Div5 {
    
    width: 900px;
    height: 80px;    
    left: 60px;
    top: 290px;

    background: white;
    border: 1px solid rgba(235,235,235,0.08);
    box-sizing: border-box;
    border-radius: 4px;
}

div#Div6 {

    width: 900px;
    height: 80px;    
    left: 60px;
    top: 371px;

    background: white;
    border: 1px solid rgba(235,235,235,0.08);
    box-sizing: border-box;
    border-radius: 4px;
}
.mystyle {
  width: 100%;
  padding: 25px;
  background-color: coral;
  color: white;
  font-size: 25px;
}
.text-muted{
    top: 20px;
    text-indent: 
}
.paragraph{
    text-indent: 
}
.price{
    text-indent: 
}
.form-control{
    display: block;
    width: 200px;
    margin-top: 20px;
    margin-left: 100px;
    vertical-align: middle;
    display: block;
    font-size: 1rem;
    font-weight: 400px;
    padding: 5px;
    border-color:

    border-style: solid !important;
    border-width: 1px 1px 1px 1px;
    color: yellow;
    height: auto;
}
.from-control:focus{
    color: 
    background-color:

}
.btn-class{ 
    width: 200px;
    height: 35px;
    margin-top: 10px;
    margin-left: 100px;
    padding-left: 30px;
    padding-right: 30px;

    background: #054C92;
    border: 1px solid rgba(5, 76, 146, 0.3);
    border-color: 
    color: #FFFFFF;
    border-radius: 4px;

}

